/*
#044f17 verde oscuro
#95c11f verde claro
*/

.root {
    -fx-focus-color: #95c11f;
    -fx-faint-focus-color: #95c11f22;
}

#content .table-view .left.column-header .label {
    -fx-alignment:CENTER_LEFT
}
#content .table-view .left.table-column {
    -fx-padding:0 15 0 15;
    -fx-alignment:CENTER_LEFT;
}
#content .table-view .right.table-column {
    -fx-padding:0 15 0 15;
    -fx-alignment:CENTER_RIGHT;
}
#content .table-view .center.table-column {
    -fx-alignment:CENTER;
}

#header {
    -fx-background-color: #95c11f;
}
#header.ingresos {
    -fx-background-color: #da3f0b;
}
#header .title {
    -fx-text-fill: #044f17;
    -fx-font-size: 22;
    -fx-font-weight: bold;
}
#header.ingresos .title {
    -fx-text-fill: white;
}
#header .glyph-icon {
    -fx-fill: #044f17;
}
#header.ingresos .glyph-icon {
    -fx-fill: white;
}

#content {
    -fx-background-color: white;
}

#content .seccion-titulo {
    -fx-background-color: #044f17;
}

#content .seccion-titulo Label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#content .page-heading {
    -fx-background-color: white;
}

#content .btn {
    -fx-background-color: #044f17;
    -fx-text-fill: white;
    -fx-pref-height: 25;
    -fx-pref-width: 75;
}

#content .btn .glyph-icon {
    -fx-fill: white;
}

#content .btn:hover {
    -fx-background-color: #95c11f;
    -fx-text-fill: #044f17;
}

#content .btn:hover .glyph-icon {
    -fx-fill: #044f17;
}

#content .btn.x-large {
    -fx-pref-width: 145;
}

#content .btn.large {
    -fx-pref-width: 110;
}

#content .btn.small {
    -fx-pref-width: 25;
}

#sidebar {
    -fx-background-color: #044f17;
}

#sidebar .sidebar-button {
    -fx-background-color: #044f17;
    -fx-focus-color: transparent;
    -fx-text-fill: white;
    -jfx-disable-visual-focus: true;
    -fx-background-radius: 0;
}

#sidebar .sidebar-button:hover {
    -fx-background-color: #95c11f;
    -fx-text-fill: #044f17;
}

#sidebar.ingresos .sidebar-button:hover {
    -fx-background-color: #da3f0b;
    -fx-text-fill: white;
}

#sidebar .sidebar-button:hover .glyph-icon {
    -fx-fill: #044f17;
}

#sidebar.ingresos .sidebar-button:hover .glyph-icon {
    -fx-fill: white;
}

#sidebar .sidebar-button .glyph-icon {
    -fx-fill: white;
}

#sidebar .sidebar-button.selected {
    -fx-background-color: #95c11f;
    -fx-text-fill: #044f17;
}

#sidebar.ingresos .sidebar-button.selected {
    -fx-background-color: #da3f0b;
    -fx-text-fill: white;
}

#sidebar .sidebar-button.selected .glyph-icon {
    -fx-fill: #044f17;
}
#sidebar.ingresos .sidebar-button.selected .glyph-icon {
    -fx-fill: white;
}
